USE [SWDHutech]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 10/16/2022 7:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[username] [varchar](30) NOT NULL,
	[password] [varchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 10/16/2022 7:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[bid] [int] IDENTITY(1,1) NOT NULL,
	[dateCreate] [datetime] NULL,
	[total] [money] NULL,
	[recName] [nvarchar](30) NULL,
	[recAddress] [nvarchar](200) NULL,
	[recPhone] [varchar](20) NULL,
	[status] [int] NULL,
	[cid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 10/16/2022 7:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[bid] [int] NOT NULL,
	[pid] [int] NOT NULL,
	[quantity] [int] NULL,
	[price] [money] NULL,
 CONSTRAINT [PK__BillDeta__6343D076BE0035B6] PRIMARY KEY CLUSTERED 
(
	[bid] ASC,
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 10/16/2022 7:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartId] [int] NOT NULL,
	[cid] [int] NOT NULL,
	[pid] [int] NOT NULL,
	[pQuantity] [int] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/16/2022 7:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[cateId] [varchar](30) NOT NULL,
	[cateName] [nvarchar](100) NOT NULL,
	[image] [varchar](200) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[cateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import History]    Script Date: 10/16/2022 7:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import History](
	[importid] [int] NOT NULL,
	[pid] [int] NOT NULL,
	[provider_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_Import History] PRIMARY KEY CLUSTERED 
(
	[importid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 10/16/2022 7:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[postid] [int] IDENTITY(1,1) NOT NULL,
	[post_title] [nvarchar](200) NOT NULL,
	[post_des] [nvarchar](500) NOT NULL,
	[post_flag] [bit] NOT NULL,
	[created_by] [int] NOT NULL,
	[thumbnail] [varchar](900) NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[postid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/16/2022 7:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[pid] [int] NOT NULL,
	[pname] [nvarchar](200) NOT NULL,
	[quantity] [int] NULL,
	[price] [money] NULL,
	[image] [varchar](200) NULL,
	[description] [nvarchar](max) NULL,
	[status] [bit] NULL,
	[cateId] [varchar](30) NULL,
	[provider_id] [int] NULL,
 CONSTRAINT [PK__Product__DD37D91A1B5749EB] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provider]    Script Date: 10/16/2022 7:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider](
	[provider_id] [int] IDENTITY(1,1) NOT NULL,
	[provider_name] [nvarchar](200) NOT NULL,
	[provider_email] [nvarchar](150) NULL,
	[provider_address] [nvarchar](200) NOT NULL,
	[provider_status] [nchar](10) NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[provider_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 10/16/2022 7:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[reviewid] [int] NOT NULL,
	[cid] [int] NOT NULL,
	[pid] [nvarchar](10) NOT NULL,
	[img] [ntext] NULL,
	[user_comment] [nvarchar](max) NULL,
	[user_rating] [int] NULL,
	[user_timecomment] [datetime] NOT NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[reviewid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/16/2022 7:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[roleid] [int] IDENTITY(1,1) NOT NULL,
	[rolename] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[roleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/16/2022 7:51:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[roleid] [int] NULL,
	[fullName] [nvarchar](30) NULL,
	[address] [nvarchar](200) NULL,
	[phone] [varchar](20) NULL,
	[email] [nvarchar](200) NULL,
	[username] [varchar](30) NULL,
	[password] [varchar](32) NULL,
	[status] [bit] NULL,
	[gender] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([username], [password]) VALUES (N'hieu', N'123')
INSERT [dbo].[Admin] ([username], [password]) VALUES (N'huy', N'daddy146')
GO
INSERT [dbo].[Cart] ([CartId], [cid], [pid], [pQuantity]) VALUES (1, 6, 1, 1)
INSERT [dbo].[Cart] ([CartId], [cid], [pid], [pQuantity]) VALUES (2, 6, 3, 5)
GO
INSERT [dbo].[Category] ([cateId], [cateName], [image], [status]) VALUES (N'1', N'Laptop', N'https://toplap.vn/storage/img/SBW8yUsMFd63u7bekPmCXDJuEAoJ3wFGxM2mDq9g.jpeg', 1)
INSERT [dbo].[Category] ([cateId], [cateName], [image], [status]) VALUES (N'2', N'PC Case', N'https://product.hstatic.net/1000026716/product/dw_creator_gamma_249e52aade474ff8a6487035b23817d9_large.jpg', 1)
INSERT [dbo].[Category] ([cateId], [cateName], [image], [status]) VALUES (N'3', N'Top Trending', NULL, 0)
GO
INSERT [dbo].[Product] ([pid], [pname], [quantity], [price], [image], [description], [status], [cateId], [provider_id]) VALUES (1, N'Laptop gaming Gigabyte G5 GD 51VN123SO', 50, 1500.0000, N'https://product.hstatic.net/1000026716/product/giga_9bd402130a6646b0a0865c8a14956557.png', N'1x USB2.0 Type-A
1x USB3.2 Gen1 Type-A
1x USB3.2 Gen2 Type-A
1x USB 3.2 Gen 2 Type-C
1x mini DP 1.4
1x HDMI 2.0 
1x Audio combo jack
1x Microphone jack
1x SD Card Reader', 1, N'1', 1)
GO
SET IDENTITY_INSERT [dbo].[Provider] ON 

INSERT [dbo].[Provider] ([provider_id], [provider_name], [provider_email], [provider_address], [provider_status]) VALUES (1, N'Nguyen Van Sang', N'SangNV123@fpt.edu.vn', N'Ha Noi, Viet Nam', N'1         ')
SET IDENTITY_INSERT [dbo].[Provider] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([roleid], [rolename]) VALUES (1, N'User')
INSERT [dbo].[Role] ([roleid], [rolename]) VALUES (2, N'Admin')
INSERT [dbo].[Role] ([roleid], [rolename]) VALUES (3, N'Provider')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([cid], [roleid], [fullName], [address], [phone], [email], [username], [password], [status], [gender]) VALUES (1, 1, N'ABC', N'hà n?i', N'1009', NULL, N'male', N'123456', 1, NULL)
INSERT [dbo].[User] ([cid], [roleid], [fullName], [address], [phone], [email], [username], [password], [status], [gender]) VALUES (2, 1, N'Nguyen Quang Huy', N'ha long', N'0327125339', NULL, N'Huy', N'123', 1, NULL)
INSERT [dbo].[User] ([cid], [roleid], [fullName], [address], [phone], [email], [username], [password], [status], [gender]) VALUES (3, 1, N'Hang', N'da nang', N'0214091131', NULL, N'female', N'456', 0, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Category__BD4278AE8E24916B]    Script Date: 10/16/2022 7:51:55 AM ******/
ALTER TABLE [dbo].[Category] ADD UNIQUE NONCLUSTERED 
(
	[cateName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF__Product__status__32E0915F]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__Customer__status__31EC6D26]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_User] FOREIGN KEY([cid])
REFERENCES [dbo].[User] ([cid])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_User]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK__BillDetail__bid__34C8D9D1] FOREIGN KEY([bid])
REFERENCES [dbo].[Bill] ([bid])
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK__BillDetail__bid__34C8D9D1]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK__BillDetail__pid__35BCFE0A] FOREIGN KEY([pid])
REFERENCES [dbo].[Product] ([pid])
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK__BillDetail__pid__35BCFE0A]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([pid])
REFERENCES [dbo].[Product] ([pid])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User] FOREIGN KEY([cid])
REFERENCES [dbo].[User] ([cid])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_User]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__cateId__36B12243] FOREIGN KEY([cateId])
REFERENCES [dbo].[Category] ([cateId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__cateId__36B12243]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Provider] FOREIGN KEY([provider_id])
REFERENCES [dbo].[Provider] ([provider_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Provider]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_User] FOREIGN KEY([cid])
REFERENCES [dbo].[User] ([cid])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([roleid])
REFERENCES [dbo].[Role] ([roleid])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
