<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>PAGE_SIZE</param-name>
        <param-value>10</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>controller.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bye</servlet-name>
        <servlet-class>controller.Bye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>controller.Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductbyCategory</servlet-name>
        <servlet-class>controller.ProductbyCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>controller.ProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewController</servlet-name>
        <servlet-class>controller.ReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>controller.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartController</servlet-name>
        <servlet-class>controller.RemoveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminConsole</servlet-name>
        <servlet-class>controller.Admin.AdminConsole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProduct</servlet-name>
        <servlet-class>controller.Admin.InsertProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProduct</servlet-name>
        <servlet-class>controller.Admin.RemoveProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>controller.Admin.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountInfo</servlet-name>
        <servlet-class>controller.AccountInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>controller.ChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveAccountController</servlet-name>
        <servlet-class>controller.ActiveAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.Admin.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductList</servlet-name>
        <servlet-class>controller.Admin.AdminProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderList</servlet-name>
        <servlet-class>controller.Admin.OrderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackList</servlet-name>
        <servlet-class>controller.Admin.FeedbackList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDetail</servlet-name>
        <servlet-class>controller.Admin.FeedbackDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedback</servlet-name>
        <servlet-class>controller.Admin.AddFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedback</servlet-name>
        <servlet-class>controller.Admin.DeleteFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeFeedbackStatus</servlet-name>
        <servlet-class>controller.Admin.ChangeFeedbackStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFeedback</servlet-name>
        <servlet-class>controller.Admin.EditFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductDetail</servlet-name>
        <servlet-class>controller.Admin.AdminProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryList</servlet-name>
        <servlet-class>controller.Admin.CategoryList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryDetail</servlet-name>
        <servlet-class>controller.Admin.CategoryDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProviderList</servlet-name>
        <servlet-class>controller.Admin.ProviderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProviderDetail</servlet-name>
        <servlet-class>controller.Admin.ProviderDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bye</servlet-name>
        <url-pattern>/Bye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductbyCategory</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/ProductDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewController</servlet-name>
        <url-pattern>/ReviewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/About-Us</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartController</servlet-name>
        <url-pattern>/removeCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminConsole</servlet-name>
        <url-pattern>/AdminConsole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProduct</servlet-name>
        <url-pattern>/InsertProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProduct</servlet-name>
        <url-pattern>/RemoveProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountInfo</servlet-name>
        <url-pattern>/AccountInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveAccountController</servlet-name>
        <url-pattern>/ActiveAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderList</servlet-name>
        <url-pattern>/OrderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackList</servlet-name>
        <url-pattern>/FeedbackList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetail</servlet-name>
        <url-pattern>/FeedbackDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedback</servlet-name>
        <url-pattern>/AddFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedback</servlet-name>
        <url-pattern>/DeleteFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeFeedbackStatus</servlet-name>
        <url-pattern>/ChangeFeedbackStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFeedback</servlet-name>
        <url-pattern>/EditFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductList</servlet-name>
        <url-pattern>/AdminProduct/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductDetail</servlet-name>
        <url-pattern>/AdminProduct/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryList</servlet-name>
        <url-pattern>/Category/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryDetail</servlet-name>
        <url-pattern>/Category/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProviderList</servlet-name>
        <url-pattern>/Provider/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProviderDetail</servlet-name>
        <url-pattern>/Provider/detail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomePage</welcome-file>
    </welcome-file-list>
</web-app>
